$fa-font-path: "~/../../../fonts/font-awesome";
$icon-font-path: "~/../../../fonts/bootstrap/";
$simple-line-font-path: "~/../../../fonts/simple-line-icons/";
$icheck-image-path: "~/../../../images/icheck";